<html lang="en">

<%- include ../partials/header %>

<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Password Recovery</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post" action="/newPassword"
                onSubmit="return checkblank(this);">
                <% if (typeof error !== 'undefined' && error.length > 0) { %>
                <ul class="alert alert-danger col-sm-12">
                    <% error.forEach((err)=> { %><li style="margin-left: 3%;"><%= err %><br></li><% }) %>
                </ul>
                <% }else if (typeof success !== 'undefined' && success.length > 0) { %>
                <div class="alert alert-success col-sm-12"><%= success %></div>
                <% } %>

                <div class=" form-group">
                    <label for="password" class="col-md-3 control-label">New Password</label>
                    <div class="col-md-9">
                        <input required type="password" value="" class="form-control" name="password" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rpassword" class="col-md-3 control-label">Confirm Password</label>
                    <div class="col-md-9">
                        <input required type="password" value="" class="form-control" name="rpassword"
                            placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-info"><i
                                class="icon-hand-right"></i>Submit</button>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            <a href="/">
                                Terms & Conditions
                            </a>
                        </div>
                        <div style="padding-top:15px; font-size:85%">
                            <a href="/forgot">
                                Forgot my password
                            </a>
                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div>


</div>
</div>

</body>
<%- include ../partials/footer %>